/* colors */
$color-default: #8FA2AA;

$color-stormy: #494E6B;
$color-cloud: #82878f;
$color-sunset: #985E6D;
$color-evening: #192231;

$color-navy: #14141E;
$color-gunmetal: #232a3c;
$color-rusty: #984B43;
$color-warm-green: #4D8D5B;
$color-warm-yellow: #EAC67A;

$color-primary: $color-evening;
$color-secondary: $color-stormy;
$color-text: $color-default;
$color-border: darken($color-default, 25%);

$color-success: $color-warm-green;
$color-warning: $color-warm-yellow;
$color-danger: $color-rusty;

/* end colors */

/* percentages */
$percent-full:    100%;
$percent-half:    50%;  
$percent-third:   33.3333%;
$percent-fourth:  25%;  
$percent-fifth:   20%; 
$percent-sixth:   16.6666%; 
$percent-seventh: 14.2857%; 
$percent-eighth:  12.5%;  
$percent-ninth:   11.1111%; 
$percent-tenth:   10%; 
/* end percentages */



/* Resets */

* { box-sizing: border-box; }
body { line-height: 1; }

html, body, #app {
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0; padding: 0; border: 0;
  background: transparent;
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

html, body, #app, .main-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;

  vertical-align: baseline;
  color: $color-text;
}

/* end resets */


/* main layout */

#app {
  background: $color-primary;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#header {
  height: 40px;
}

#content {
  flex: 1;
}

#footer {
  min-height: 40px;
}

.main-container {

}

/* end main layout */


/* Column and Row Containers */

.container-flex-row,
.container-flex-column {
  display: flex;

  .container-2,.container-3,.container-4,.container-5,.container-6,.container-7,.container-8,.container-9,.container-10,
  .container-half,.container-third,.container-quarter,.container-fifth,.container-sixth,.container-seventh,.container-eighth,
  .container-ninth,.container-tenth { /*display:flex;*/ flex: 1; display:inline-block; }
  /* see https://stackoverflow.com/questions/14416651/including-margin-for-width-and-height */
}

.container-flex-row {
  flex-direction: row;

  .container-gutter:not(:first-child) { margin-left: 7.5px; }
  .container-gutter:not(:last-child) { margin-right: 7.5px; }
}

.container-flex-column {
  flex-direction: column;
  .container-gutter:not(:first-child) { margin-top: 7.5px; }
  .container-gutter:not(:last-child) { margin-bottom: 7.5px; }
}

.container {
  margin: 0 15px;
}

.container-2, .container-half    { max-width: $percent-half !important;    }
.container-3, .container-third   { max-width: $percent-third !important;   }
.container-4, .container-quarter { max-width: $percent-fourth !important;  }
.container-5, .container-fifth   { max-width: $percent-fifth !important;   }
.container-6, .container-sixth   { max-width: $percent-sixth !important;   }
.container-7, .container-seventh { max-width: $percent-seventh !important; }
.container-8, .container-eighth  { max-width: $percent-eighth !important;  }
.container-9, .container-ninth   { max-width: $percent-ninth !important;   }
.container-10, .container-tenth  { max-width: $percent-tenth !important;   }

.offset-left-2, .offset-left-half    { margin-left: $percent-half !important;    }
.offset-left-3, .offset-left-third   { margin-left: $percent-third !important;   }
.offset-left-4, .offset-left-quarter { margin-left: $percent-fourth !important;  }
.offset-left-5, .offset-left-fifth   { margin-left: $percent-fifth !important;   }
.offset-left-6, .offset-left-sixth   { margin-left: $percent-sixth !important;   }
.offset-left-7, .offset-left-seventh { margin-left: $percent-seventh !important; }
.offset-left-8, .offset-left-eighth  { margin-left: $percent-eighth !important;  }
.offset-left-9, .offset-left-ninth   { margin-left: $percent-ninth !important;   }
.offset-left-10, .offset-left-tenth  { margin-left: $percent-tenth !important;   }

.offset-right-2, .offset-right-half    { margin-right: $percent-half !important;    }
.offset-right-3, .offset-right-third   { margin-right: $percent-third !important;   }
.offset-right-4, .offset-right-quarter { margin-right: $percent-fourth !important;  }
.offset-right-5, .offset-right-fifth   { margin-right: $percent-fifth !important;   }
.offset-right-6, .offset-right-sixth   { margin-right: $percent-sixth !important;   }
.offset-right-7, .offset-right-seventh { margin-right: $percent-seventh !important; }
.offset-right-8, .offset-right-eighth  { margin-right: $percent-eighth !important;  }
.offset-right-9, .offset-right-ninth   { margin-right: $percent-ninth !important;   }
.offset-right-10, .offset-right-tenth  { margin-right: $percent-tenth !important;   }

/* End Column and Row Containers */


/* Components */

hr { border: 0.5px solid $color-border; }

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td { padding: 5px 10px; }
table, table th, table td { border: 1px solid $color-border; }
table > thead > tr { border-bottom: 2px solid $color-border; }

input, textarea, select {
  border: 1px solid $color-border;
  background-color: darken($color-primary, 5%);
  color: lighten($color-text, 25%);
  box-shadow:none;
  outline:none;
}

textarea { resize: both; }
textarea.no-resize { resize: none; }
textarea.h-resize, textarea.x-resize { resize: horizontal; }
textarea.v-resize, textarea.y-resize { resize: vertical; }

.input-container {
  margin: 12.5px 0 25px 0;

  label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }

  input, textarea, select {
    padding: 5px 10px;
    width: 100%;
    font-size:1.1em;
    border-radius: 6px;
  }

  input[type="text"], textarea { }

  input:active,
  input:focus,
  textarea:active,
  textarea:focus,
  select:active,
  select:focus {
    border-color: $color-cloud;
    outline: 1px solid lighten($color-cloud, 10%);
    box-shadow: 0 0 0.25pt 0.5pt lighten($color-cloud, 10%);
  }
}

.monospace { font-family: "Lucida Console", Monaco, monospace; }

/* End Components */
