/* colors */
$color-default: #8FA2AA;

$color-stormy: #494E6B;
$color-cloud: #98878F;
$color-sunset: #985E6D;
$color-evening: #192231;

$color-navy: #14141E;
$color-gunmetal: #232a3c;
$color-rusty: #984B43;
$color-warm: #EAC67A;

$color-primary: $color-evening;
$color-secondary: $color-stormy;
$color-text: $color-default;
$color-warning: $color-warm;
$color-danger: $color-rusty;

/* end colors */

/* Resets */

* { box-sizing: border-box; }
body { line-height: 1; }

html, body, #app {
  background: transparent;
  position: absolute;
  width: 100vw;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0; padding: 0; border: 0;
}

html, body, #app, .main-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;

  vertical-align: baseline;
  color: $color-text;
}
/* end resets */

#app {
  background: $color-primary;
}

/* main layout */
.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header {
  height: 40px;
}

#content {
  flex: 1;
}

#footer {
  min-height: 40px;
}

.main-container {

}
/* end main layout */


/* components */
.container {
  padding: 0 15px;
}
